<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='weather.ico') }}">
    <title>Educational Note</title>
</head>
<body>
    <div class="logo-container">
        <a href="/">
        <div class="logo">Go Weather</div>
        </a>
        <a href="/note">
            <div class="Note">Note</div>
            </a>
            <a href="/map">
                <div class="Map">Map</div>
                </a>
        <div class="underline"></div>
    </div>
    <div class="note-container">
        <div class="note-title">Educational Note</div>
        <div class="note-content">
            <p>
                Welcome to Go weather and here you can know the weather in the world, including your country, Just click on Go Weather site below , I hope that you liked our site and was of interest to you,  thank you.
            </p>
        </div>
        <a href="/">Go Weather</a>
    </div>
</body>
</html>
